<% if user_signed_in? %>
    <%= render 'form' %>

<% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2>The Media3 International</h2>

          <p>Innovation...... Enriched</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
<% end %>

