<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>ImagInnovate Technology Solutions</h1>
      <br>
      <p>Innovation...... Enriched</p>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
