<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-5">
      <div class="col-md-4">
        <h4>
          <b>New project</b>
        </h4>
        <div class="row">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
